{
    "openapi": "3.1.0",
    "info": {
        "title": "Pimia \u2014 plano central, contrato del integrador",
        "version": "1.4.0",
        "description": "Contrato del plano central de Pimia para el integrador: su cartera de clientes y la atribuci\u00f3n de cada alta, los v\u00ednculos con cada instancia, sus clients OAuth, las invitaciones, el patrocinio (asumir la licencia de un cliente), el traspaso de propiedad, su cat\u00e1logo (qu\u00e9 revende a sus clientes, a qu\u00e9 precio minorista y con qu\u00e9 enlace de contrataci\u00f3n) y la activaci\u00f3n mayorista (lo que activa a cada cliente \u2014la base, m\u00f3dulos, apps\u2014 y Pimia le cobra en su suscripci\u00f3n de canal), sus nombres de login (los que sirve en su servidor y reenv\u00eda al AS del \u00e1pice), sus tokens de m\u00e1quina, qui\u00e9n pertenece a cada instancia (para traspasarla) y el portal de Stripe de su canal. Autenticaci\u00f3n: token personal de Sanctum acotado por plano (`central`, `desarrollador`), el mismo que usa el dashboard del integrador. No lleva contenido fiscal de ning\u00fan cliente: a los datos de una instancia se llega por OAuth consentido, con el contrato de /api/v1."
    },
    "servers": [
        {
            "url": "https://taskai.work/api",
            "description": "Plano central (dev)"
        },
        {
            "url": "https://pimia.es/api",
            "description": "Plano central (prod)"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/billing/portal": {
            "post": {
                "operationId": "billing.portal",
                "description": "**Exige la habilidad `central`** en el token (grupo compartido del plano central: lo abre la sesi\u00f3n de cualquier figura; aqu\u00ed, la del integrador).\n\nAllows users to manage payment methods, view invoices, cancel subscriptions.",
                "summary": "POST /api/billing/portal \u2014 Get Stripe Customer Portal URL",
                "tags": [
                    "Billing"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "return_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 2000
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "portal_url": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "portal_url"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "No billing account found. Subscribe to a plan first."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "central",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/billing/sponsorship": {
            "post": {
                "operationId": "billing.sponsor",
                "description": "**Exige la habilidad `central`** en el token (grupo compartido del plano central: lo abre la sesi\u00f3n de cualquier figura; aqu\u00ed, la del integrador).\n\nMismo mecanismo para las dos figuras intermediarias (gestor\u00eda y\ndesarrollador): una suscripci\u00f3n de canal con `quantity` = asientos y una\nfactura consolidada, en vez de N suscripciones sueltas.",
                "summary": "POST /api/billing/sponsorship \u2014 asumir la licencia de un cliente",
                "tags": [
                    "Billing"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "tenant_slug": {
                                        "type": "string"
                                    },
                                    "plan_id": {
                                        "type": "integer"
                                    },
                                    "return_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A d\u00f3nde vuelve desde el Checkout del canal: el panel central en\nReact (1.4.0). Solo se acepta su origen; si no, el panel Vue.",
                                        "maxLength": 2000
                                    }
                                },
                                "required": [
                                    "tenant_slug",
                                    "plan_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Completa el alta de tu suscripci\u00f3n de canal para activar el patrocinio.",
                                                        "Asumida la licencia de la instancia."
                                                    ]
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "checkout_url": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "checkout_url"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "central",
                "x-pimia-partner-availability": "developer-account"
            },
            "delete": {
                "operationId": "billing.releaseSponsorship",
                "description": "**Exige la habilidad `central`** en el token (grupo compartido del plano central: lo abre la sesi\u00f3n de cualquier figura; aqu\u00ed, la del integrador).",
                "summary": "DELETE /api/billing/sponsorship \u2014 soltar un cliente patrocinado",
                "tags": [
                    "Billing"
                ],
                "parameters": [
                    {
                        "name": "tenant_slug",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "Has dejado de pagar la licencia de esta instancia."
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "central",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/overview": {
            "get": {
                "operationId": "desarrollador.overview",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nCada fila de `cartera` lleva `origen`: el client OAuth de ESTE\ndesarrollador por el que se le atribuye el tenant \u2014con\n`atribuido: true` si el alta lo dej\u00f3 escrito (`origin_client_id`,\n#726) y `false` si se infiere porque el v\u00ednculo est\u00e1 vivo y el\ndesarrollador tiene un \u00fanico client con or\u00edgenes (la red de\n`IntegradorDelTenant::clientDe`)\u2014 o `null`. Nunca el client de otro\ndesarrollador aunque el tenant lo recuerde: es su relaci\u00f3n comercial,\nno la de quien mira.\n\nEl cuerpo se declara entero porque el generador no sigue el `map()`\nsobre la colecci\u00f3n de tenants: en la 1.3.0 `cartera` sal\u00eda como una\nlista de `string` y el panel no pod\u00eda tipar ni una fila.",
                "summary": "GET /api/desarrollador/overview \u2014 cartera y cuota",
                "tags": [
                    "Desarrollador"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "cartera": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            },
                                                            "plan": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "trial_ends_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "relacion": {
                                                                "type": "string"
                                                            },
                                                            "billing_mode": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "la_pago_yo": {
                                                                "type": "boolean"
                                                            },
                                                            "marca_blanca": {
                                                                "type": "boolean"
                                                            },
                                                            "origen": {
                                                                "type": [
                                                                    "object",
                                                                    "null"
                                                                ],
                                                                "properties": {
                                                                    "client_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "atribuido": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "client_id",
                                                                    "name",
                                                                    "atribuido"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "status",
                                                            "plan",
                                                            "created_at",
                                                            "trial_ends_at",
                                                            "relacion",
                                                            "billing_mode",
                                                            "la_pago_yo",
                                                            "marca_blanca",
                                                            "origen"
                                                        ]
                                                    }
                                                },
                                                "resumen": {
                                                    "type": "object",
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer"
                                                        },
                                                        "activos": {
                                                            "type": "integer"
                                                        },
                                                        "suspendidos": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "total",
                                                        "activos",
                                                        "suspendidos"
                                                    ]
                                                },
                                                "cuota": {
                                                    "type": "object",
                                                    "properties": {
                                                        "usada": {
                                                            "type": "integer"
                                                        },
                                                        "limite": {
                                                            "type": "integer"
                                                        },
                                                        "ilimitada": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "usada",
                                                        "limite",
                                                        "ilimitada"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "cartera",
                                                "resumen",
                                                "cuota"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/salud": {
            "get": {
                "operationId": "desarrollador.salud",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nLo que un desarrollador necesita y un asesor no: si sus clients siguen\nus\u00e1ndose, si sus webhooks llegan y si tiene propuestas esperando decisi\u00f3n\ndel cliente. Todo son METADATOS de la integraci\u00f3n \u2014 \u00faltimo uso, c\u00f3digos\nde estado, contadores. Nunca el contenido de lo que viaja.\n\nDeclarado entero por lo mismo que `overview`: el generador publicaba\n`revoked_at` como `string` a secas (es `null` casi siempre) y\n`approvals.por_tenant` como una uni\u00f3n con `string[]`.",
                "summary": "GET /api/desarrollador/salud \u2014 estado t\u00e9cnico de sus integraciones",
                "tags": [
                    "Desarrollador"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "clients": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "client_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "revoked_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "tokens_vivos": {
                                                                "type": "integer"
                                                            },
                                                            "ultimo_uso": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "client_id",
                                                            "name",
                                                            "revoked_at",
                                                            "tokens_vivos",
                                                            "ultimo_uso"
                                                        ]
                                                    }
                                                },
                                                "webhooks": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "tenant_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "events": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "disabled_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "consecutive_failures": {
                                                                "type": "integer"
                                                            },
                                                            "entregas_7d": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "delivered": {
                                                                        "type": "integer"
                                                                    },
                                                                    "pending": {
                                                                        "type": "integer"
                                                                    },
                                                                    "dead": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "delivered",
                                                                    "pending",
                                                                    "dead"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "tenant_id",
                                                            "url",
                                                            "events",
                                                            "disabled_at",
                                                            "consecutive_failures",
                                                            "entregas_7d"
                                                        ]
                                                    }
                                                },
                                                "approvals": {
                                                    "type": "object",
                                                    "properties": {
                                                        "abiertas": {
                                                            "type": "integer"
                                                        },
                                                        "por_tenant": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "tenant_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "abiertas": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "tenant_id",
                                                                    "abiertas"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "abiertas",
                                                        "por_tenant"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "clients",
                                                "webhooks",
                                                "approvals"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/facturacion": {
            "get": {
                "operationId": "desarrollador.facturacion",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "summary": "GET /api/desarrollador/facturacion \u2014 su suscripci\u00f3n de canal",
                "tags": [
                    "Desarrollador"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "canal": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "estado": {
                                                            "type": "string"
                                                        },
                                                        "asientos": {
                                                            "type": "integer"
                                                        },
                                                        "quantity": {
                                                            "type": "integer"
                                                        },
                                                        "descuadre": {
                                                            "type": "boolean"
                                                        },
                                                        "termina_en": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "estado",
                                                        "asientos",
                                                        "quantity",
                                                        "descuadre",
                                                        "termina_en"
                                                    ]
                                                },
                                                "asientos": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "tenant_id": {
                                                                "type": "string"
                                                            },
                                                            "rol": {
                                                                "type": "string"
                                                            },
                                                            "en_mora": {
                                                                "type": "boolean"
                                                            },
                                                            "gracia_hasta": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "suspendido_desde": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "tenant_id",
                                                            "rol",
                                                            "en_mora",
                                                            "gracia_hasta",
                                                            "suspendido_desde"
                                                        ]
                                                    }
                                                },
                                                "en_mora": {
                                                    "type": "integer"
                                                },
                                                "anadidos": {
                                                    "type": "object",
                                                    "properties": {
                                                        "activaciones": {
                                                            "type": "integer"
                                                        },
                                                        "total_cents": {
                                                            "type": "integer"
                                                        },
                                                        "total": {
                                                            "type": "string"
                                                        },
                                                        "por_tenant": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "tenant_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "activaciones": {
                                                                        "type": "integer"
                                                                    },
                                                                    "total_cents": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "tenant_id",
                                                                    "activaciones",
                                                                    "total_cents"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "activaciones",
                                                        "total_cents",
                                                        "total",
                                                        "por_tenant"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "canal",
                                                "asientos",
                                                "en_mora",
                                                "anadidos"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links": {
            "get": {
                "operationId": "desarrolladorLink.index",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "tags": [
                    "DesarrolladorLink"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "link_code": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "tenant": {
                                                        "type": [
                                                            "object",
                                                            "null"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "status"
                                                        ]
                                                    },
                                                    "requester": {
                                                        "type": [
                                                            "object",
                                                            "null"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "email": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "email"
                                                        ]
                                                    },
                                                    "requested_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    },
                                                    "accepted_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    },
                                                    "revoked_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    },
                                                    "created_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "link_code",
                                                    "status",
                                                    "tenant",
                                                    "requester",
                                                    "requested_at",
                                                    "accepted_at",
                                                    "revoked_at",
                                                    "created_at"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links/generate-code": {
            "post": {
                "operationId": "desarrolladorLink.generateCode",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "tags": [
                    "DesarrolladorLink"
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "C\u00f3digo de vinculaci\u00f3n generado."
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "link_code": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tenant": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "status"
                                                    ]
                                                },
                                                "requester": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "email"
                                                    ]
                                                },
                                                "requested_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "accepted_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "revoked_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "link_code",
                                                "status",
                                                "tenant",
                                                "requester",
                                                "requested_at",
                                                "accepted_at",
                                                "revoked_at",
                                                "created_at"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links/{id}/accept": {
            "post": {
                "operationId": "desarrolladorLink.accept",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nAqu\u00ed est\u00e1 LA diferencia con la gestor\u00eda: no se crea ning\u00fan usuario dentro\ndel tenant ni se toca `tenant_users`. El v\u00ednculo solo pasa a `active`.",
                "summary": "Aceptar la solicitud de una instancia",
                "tags": [
                    "DesarrolladorLink"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Vinculaci\u00f3n aceptada."
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "link_code": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tenant": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "status"
                                                    ]
                                                },
                                                "requester": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "email"
                                                    ]
                                                },
                                                "requested_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "accepted_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "revoked_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "link_code",
                                                "status",
                                                "tenant",
                                                "requester",
                                                "requested_at",
                                                "accepted_at",
                                                "revoked_at",
                                                "created_at"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error\n\nAn error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "description": "Error overview.",
                                                    "examples": [
                                                        "La solicitud no est\u00e1 pendiente."
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "description": "Error overview.",
                                                    "examples": [
                                                        "La solicitud no tiene instancia asociada."
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links/{id}/reject": {
            "post": {
                "operationId": "desarrolladorLink.reject",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "tags": [
                    "DesarrolladorLink"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Solicitud rechazada."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "examples": [
                                                "La solicitud no est\u00e1 pendiente."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/clients": {
            "get": {
                "operationId": "desarrolladorLink.clients",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "summary": "GET \u2014 los clients OAuth de este desarrollador",
                "tags": [
                    "DesarrolladorLink"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "client_id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "confidential": {
                                                        "type": "boolean"
                                                    },
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "registration_tenant_id": {
                                                        "type": "string"
                                                    },
                                                    "revoked_at": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "client_id",
                                                    "name",
                                                    "confidential",
                                                    "scope",
                                                    "registration_tenant_id",
                                                    "revoked_at",
                                                    "created_at"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/clients/claim": {
            "post": {
                "operationId": "desarrolladorLink.claimClient",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nRequiere demostrar posesi\u00f3n del client, no solo conocer su id: el\nclient_id viaja en cada pantalla de consentimiento y en la URL de\nautorizaci\u00f3n, as\u00ed que es p\u00fablico de facto. Para un client confidencial se\nexige el secret; para uno p\u00fablico (PKCE, sin secret) solo puede\nreclamarlo quien lo registr\u00f3 desde un tenant vinculado a esta cuenta.",
                "summary": "POST \u2014 \u00abeste client es m\u00edo\u00bb",
                "tags": [
                    "DesarrolladorLink"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "client_id": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "client_secret": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    }
                                },
                                "required": [
                                    "client_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "const": "ownership_not_provable"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "Este client es p\u00fablico (sin secret). Solo puedes reclamarlo si se registr\u00f3 desde una instancia vinculada a tu cuenta."
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "const": "invalid_client_secret"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "El client_secret no coincide. Solo quien lo tiene puede reclamar el client."
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "already_owned"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Ese client ya pertenece a otra cuenta."
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/tenants/{slug}/activaciones": {
            "get": {
                "operationId": "integradorActivacion.index",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\n`base` es su licencia (el asiento de canal); `items`, los m\u00f3dulos y apps\nactivos con lo que cuestan al integrador al mes; `total` lo suma.",
                "summary": "GET /api/desarrollador/tenants/{slug}/activaciones \u2014 lo activado a este cliente",
                "tags": [
                    "IntegradorActivacion"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "base": {
                                                    "type": "object",
                                                    "properties": {
                                                        "active": {
                                                            "type": "boolean"
                                                        },
                                                        "price_cents": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        },
                                                        "price": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "plan": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "active",
                                                        "price_cents",
                                                        "price",
                                                        "plan"
                                                    ]
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "kind": {
                                                                "type": "string"
                                                            },
                                                            "slug": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "active_since": {
                                                                "type": "string"
                                                            },
                                                            "price_cents": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "price": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "kind",
                                                            "slug",
                                                            "name",
                                                            "active_since",
                                                            "price_cents",
                                                            "price"
                                                        ]
                                                    }
                                                },
                                                "total_cents": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "base",
                                                "items",
                                                "total_cents",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            },
            "post": {
                "operationId": "integradorActivacion.store",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\n`kind` \u2208 `base|module|app` y `slug` (`pimia` para la base). La base es el\nasiento: la primera vez devuelve `checkout_url` (el canal a\u00fan no tiene\nsuscripci\u00f3n) y las siguientes es un asiento m\u00e1s. Un m\u00f3dulo o una app\nexigen la base viva (`409 base_required`) y se cobran al integrador\ncomo una partida m\u00e1s de su canal, sin prorrateo, en la factura del mes;\nel m\u00f3dulo se enciende en el acto y la app la instala el cliente por\nempresa sin pasar por caja. Idempotente: lo ya activo contesta\n`already_active: true` sin tocar Stripe (y remata lo que se qued\u00f3 a\nmedias); un m\u00f3dulo que el cliente ya ten\u00eda encendido por su cuenta\ncontesta `already_active` con `inherited: true` y NO se cobra. Cortes, con su c\u00f3digo en\n`error`: `not_the_integrator` (403), `not_sellable` (422),\n`base_required` y `channel_required` (409), `channel_subscription_ending`\n(402), `stripe_price_missing` (503), `stripe_addon_failed` (502),\n`addon_busy` (409), `module_not_enabled` (422).\n\nContesta **201** cuando activa algo nuevo y **200** cuando ya estaba\nactivo o cuando lo que devuelve es el Checkout del canal; los dos\n`return` llevan el c\u00f3digo escrito para que el generador publique los\ndos cuerpos (\u26d4 no con `@response 201`: esa etiqueta Scramble la lee\ncomo el TIPO `201` y el cuerpo desaparece del contrato \u2014 pas\u00f3 en la\n1.3.0, lo midi\u00f3 el estudio del panel central). `return_url` (1.4.0):\na d\u00f3nde vuelve desde el Checkout; solo se acepta el origen del panel\ncentral o el del \u00e1pice.",
                "summary": "POST /api/desarrollador/tenants/{slug}/activaciones \u2014 activar algo al cliente",
                "tags": [
                    "IntegradorActivacion"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "kind": {
                                        "type": "string",
                                        "enum": [
                                            "base",
                                            "module",
                                            "app"
                                        ]
                                    },
                                    "slug": {
                                        "type": "string",
                                        "maxLength": 63
                                    },
                                    "plan_id": {
                                        "type": [
                                            "integer",
                                            "null"
                                        ]
                                    },
                                    "return_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 2000
                                    }
                                },
                                "required": [
                                    "kind",
                                    "slug"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Completa el alta de tu suscripci\u00f3n de canal para activar la licencia de este cliente.",
                                                "El cliente ya lo ten\u00eda encendido por su cuenta: no se te cobra ni se le toca.",
                                                "Ya estaba activo.",
                                                "Activado: se cobra en tu canal desde la pr\u00f3xima factura."
                                            ]
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "already_active": {
                                                    "type": "boolean"
                                                },
                                                "inherited": {
                                                    "type": "boolean"
                                                },
                                                "checkout_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "quantity": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ]
                                                },
                                                "activation": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "additionalProperties": {}
                                                }
                                            },
                                            "required": [
                                                "already_active",
                                                "inherited",
                                                "checkout_url",
                                                "quantity",
                                                "activation"
[...]
