{
    "openapi": "3.1.0",
    "info": {
        "title": "Pimia \u2014 plano central, contrato del integrador",
        "version": "1.19.0",
        "description": "Contrato del plano central de Pimia para el integrador: su cartera de clientes y la atribuci\u00f3n de cada alta, los v\u00ednculos con cada instancia, sus clients OAuth, las invitaciones, el patrocinio (asumir la licencia de un cliente), la tarjeta de su canal guardada antes del primer cliente (13.30a), el traspaso de propiedad, sus verticales (el sector para el que arma su producto, por cu\u00e1l entr\u00f3 cada instancia qu\u00e9 m\u00f3dulos nacen encendidos en sus clientes nuevos y qu\u00e9 m\u00f3dulos de Pimia sustituye por software suyo), su cat\u00e1logo (qu\u00e9 revende a sus clientes, a qu\u00e9 precio minorista y con qu\u00e9 enlace de contrataci\u00f3n) y la activaci\u00f3n mayorista (lo que activa a cada cliente \u2014la base, m\u00f3dulos, apps\u2014 y Pimia le cobra en su suscripci\u00f3n de canal), sus nombres de login (los que sirve en su servidor y reenv\u00eda al AS del \u00e1pice), sus tokens de m\u00e1quina, qui\u00e9n pertenece a cada instancia (para traspasarla) y el portal de Stripe de su canal. Autenticaci\u00f3n: token personal de Sanctum acotado por plano (`central`, `desarrollador`), el mismo que usa el dashboard del integrador. No lleva contenido fiscal de ning\u00fan cliente: a los datos de una instancia se llega por OAuth consentido, con el contrato de /api/v1."
    },
    "servers": [
        {
            "url": "https://taskai.work/api",
            "description": "Plano central (dev)"
        },
        {
            "url": "https://pimia.es/api",
            "description": "Plano central (prod)"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/billing/portal": {
            "post": {
                "operationId": "billing.portal",
                "description": "**Exige la habilidad `central`** en el token (grupo compartido del plano central: lo abre la sesi\u00f3n de cualquier figura; aqu\u00ed, la del integrador).\n\nAllows users to manage payment methods, view invoices, cancel subscriptions.",
                "summary": "POST /api/billing/portal \u2014 Get Stripe Customer Portal URL",
                "tags": [
                    "Billing"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "return_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 2000
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "portal_url": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "portal_url"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "No billing account found. Subscribe to a plan first."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "central",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/billing/sponsorship": {
            "post": {
                "operationId": "billing.sponsor",
                "description": "**Exige la habilidad `central`** en el token (grupo compartido del plano central: lo abre la sesi\u00f3n de cualquier figura; aqu\u00ed, la del integrador).\n\nMismo mecanismo para las dos figuras intermediarias (gestor\u00eda y\ndesarrollador): una suscripci\u00f3n de canal con `quantity` = asientos y una\nfactura consolidada, en vez de N suscripciones sueltas.",
                "summary": "POST /api/billing/sponsorship \u2014 asumir la licencia de un cliente",
                "tags": [
                    "Billing"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "tenant_slug": {
                                        "type": "string"
                                    },
                                    "plan_id": {
                                        "type": "integer"
                                    },
                                    "return_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "A d\u00f3nde vuelve desde el Checkout del canal: el panel central en\nReact (1.4.0). Solo se acepta su origen; si no, el panel Vue.",
                                        "maxLength": 2000
                                    }
                                },
                                "required": [
                                    "tenant_slug",
                                    "plan_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Completa el alta de tu suscripci\u00f3n de canal para activar el patrocinio.",
                                                        "Asumida la licencia de la instancia."
                                                    ]
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "checkout_url": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "checkout_url"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "central",
                "x-pimia-partner-availability": "developer-account"
            },
            "delete": {
                "operationId": "billing.releaseSponsorship",
                "description": "**Exige la habilidad `central`** en el token (grupo compartido del plano central: lo abre la sesi\u00f3n de cualquier figura; aqu\u00ed, la del integrador).",
                "summary": "DELETE /api/billing/sponsorship \u2014 soltar un cliente patrocinado",
                "tags": [
                    "Billing"
                ],
                "parameters": [
                    {
                        "name": "tenant_slug",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "Has dejado de pagar la licencia de esta instancia."
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "central",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/overview": {
            "get": {
                "operationId": "desarrollador.overview",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nCada fila de `cartera` lleva `origen`: el client OAuth de ESTE\ndesarrollador por el que se le atribuye el tenant \u2014con\n`atribuido: true` si el alta lo dej\u00f3 escrito (`origin_client_id`,\n#726) y `false` si se infiere porque el v\u00ednculo est\u00e1 vivo y el\ndesarrollador tiene un \u00fanico client con or\u00edgenes (la red de\n`IntegradorDelTenant::clientDe`)\u2014 o `null`. Nunca el client de otro\ndesarrollador aunque el tenant lo recuerde: es su relaci\u00f3n comercial,\nno la de quien mira.\n\n`activaciones` (#921) son los m\u00f3dulos y apps que ESTE integrador tiene\nactivados por su canal en esa instancia, con NOMBRE. Va aqu\u00ed y no en un\ncontador porque el panel ten\u00eda que contar desde\n`anadidos.por_tenant[].activaciones` de `/facturacion` y no pod\u00eda decir\nQU\u00c9: un cliente con el CRM activo sal\u00eda id\u00e9ntico a uno sin nada. Lista\nvac\u00eda = no tiene nada activado por canal (no es \u00abno consta\u00bb: la consulta\ncubre toda la cartera de una vez).\n\nEl cuerpo se declara entero porque el generador no sigue el `map()`\nsobre la colecci\u00f3n de tenants: en la 1.3.0 `cartera` sal\u00eda como una\nlista de `string` y el panel no pod\u00eda tipar ni una fila.",
                "summary": "GET /api/desarrollador/overview \u2014 cartera y cuota",
                "tags": [
                    "Desarrollador"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "cartera": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "cobro": {
                                                                "type": [
                                                                    "object",
                                                                    "null"
                                                                ],
                                                                "properties": {
                                                                    "primer_periodo": {
                                                                        "type": [
                                                                            "object",
                                                                            "null"
                                                                        ],
                                                                        "properties": {
                                                                            "estado": {
                                                                                "type": "string"
                                                                            },
                                                                            "checkout_url": {
                                                                                "type": [
                                                                                    "string",
                                                                                    "null"
                                                                                ]
                                                                            },
                                                                            "expires_at": {
                                                                                "type": [
                                                                                    "integer",
                                                                                    "null"
                                                                                ]
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "estado",
                                                                            "checkout_url",
                                                                            "expires_at"
                                                                        ]
                                                                    },
                                                                    "suscripcion": {
                                                                        "type": [
                                                                            "object",
                                                                            "null"
                                                                        ],
                                                                        "properties": {
                                                                            "stripe_status": {
                                                                                "type": [
                                                                                    "string",
                                                                                    "null"
                                                                                ]
                                                                            },
                                                                            "al_dia": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "debe_desde": {
                                                                                "type": [
                                                                                    "string",
                                                                                    "null"
                                                                                ]
                                                                            },
                                                                            "suspende_el": {
                                                                                "type": [
                                                                                    "string",
                                                                                    "null"
                                                                                ]
                                                                            },
                                                                            "cancel_at_period_end": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "current_period_end": {
                                                                                "type": [
                                                                                    "string",
                                                                                    "null"
                                                                                ]
                                                                            },
                                                                            "baja_en": {
                                                                                "type": [
                                                                                    "string",
                                                                                    "null"
                                                                                ]
                                                                            },
                                                                            "suspendida_por_impago_en": {
                                                                                "type": [
                                                                                    "string",
                                                                                    "null"
                                                                                ]
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "stripe_status",
                                                                            "al_dia",
                                                                            "debe_desde",
                                                                            "suspende_el",
                                                                            "cancel_at_period_end",
                                                                            "current_period_end",
                                                                            "baja_en",
                                                                            "suspendida_por_impago_en"
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "primer_periodo",
                                                                    "suscripcion"
                                                                ]
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            },
                                                            "plan": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "trial_ends_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "relacion": {
                                                                "type": "string"
                                                            },
                                                            "billing_mode": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "la_pago_yo": {
                                                                "type": "boolean"
                                                            },
                                                            "marca_blanca": {
                                                                "type": "boolean"
                                                            },
                                                            "origen": {
                                                                "type": [
                                                                    "object",
                                                                    "null"
                                                                ],
                                                                "properties": {
                                                                    "client_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "atribuido": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "client_id",
                                                                    "name",
                                                                    "atribuido"
                                                                ]
                                                            },
                                                            "vertical": {
                                                                "type": [
                                                                    "object",
                                                                    "null"
                                                                ],
                                                                "properties": {
                                                                    "slug": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "fase": {
                                                                        "type": "string"
                                                                    },
                                                                    "fase_de_entrada": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "slug",
                                                                    "name",
                                                                    "fase",
                                                                    "fase_de_entrada"
                                                                ]
                                                            },
                                                            "contratacion": {
                                                                "type": [
                                                                    "object",
                                                                    "null"
                                                                ],
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer"
                                                                    },
                                                                    "plan_id": {
                                                                        "type": [
                                                                            "integer",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "plan": {
                                                                        "type": "string"
                                                                    },
                                                                    "price_cents": {
                                                                        "type": "integer"
                                                                    },
                                                                    "currency": {
                                                                        "type": "string"
                                                                    },
                                                                    "price": {
                                                                        "type": "string"
                                                                    },
                                                                    "desde": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "hasta": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "plan_id",
                                                                    "plan",
                                                                    "price_cents",
                                                                    "currency",
                                                                    "price",
                                                                    "desde",
                                                                    "hasta"
                                                                ]
                                                            },
                                                            "activaciones": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "kind": {
                                                                            "type": "string"
                                                                        },
                                                                        "slug": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "kind",
                                                                        "slug",
                                                                        "name"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "cobro",
                                                            "id",
                                                            "name",
                                                            "status",
                                                            "plan",
                                                            "created_at",
                                                            "trial_ends_at",
                                                            "relacion",
                                                            "billing_mode",
                                                            "la_pago_yo",
                                                            "marca_blanca",
                                                            "origen",
                                                            "vertical",
                                                            "contratacion",
                                                            "activaciones"
                                                        ]
                                                    }
                                                },
                                                "resumen": {
                                                    "type": "object",
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer"
                                                        },
                                                        "activos": {
                                                            "type": "integer"
                                                        },
                                                        "suspendidos": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "total",
                                                        "activos",
                                                        "suspendidos"
                                                    ]
                                                },
                                                "cuota": {
                                                    "type": "object",
                                                    "properties": {
                                                        "usada": {
                                                            "type": "integer"
                                                        },
                                                        "limite": {
                                                            "type": "integer"
                                                        },
                                                        "ilimitada": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "usada",
                                                        "limite",
                                                        "ilimitada"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "cartera",
                                                "resumen",
                                                "cuota"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/salud": {
            "get": {
                "operationId": "desarrollador.salud",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nLo que un desarrollador necesita y un asesor no: si sus clients siguen\nus\u00e1ndose, si sus webhooks llegan y si tiene propuestas esperando decisi\u00f3n\ndel cliente. Todo son METADATOS de la integraci\u00f3n \u2014 \u00faltimo uso, c\u00f3digos\nde estado, contadores. Nunca el contenido de lo que viaja.\n\nDeclarado entero por lo mismo que `overview`: el generador publicaba\n`revoked_at` como `string` a secas (es `null` casi siempre) y\n`approvals.por_tenant` como una uni\u00f3n con `string[]`.",
                "summary": "GET /api/desarrollador/salud \u2014 estado t\u00e9cnico de sus integraciones",
                "tags": [
                    "Desarrollador"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "clients": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "client_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "revoked_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "tokens_vivos": {
                                                                "type": "integer"
                                                            },
                                                            "ultimo_uso": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "client_id",
                                                            "name",
                                                            "revoked_at",
                                                            "tokens_vivos",
                                                            "ultimo_uso"
                                                        ]
                                                    }
                                                },
                                                "webhooks": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "tenant_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "events": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "disabled_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "consecutive_failures": {
                                                                "type": "integer"
                                                            },
                                                            "entregas_7d": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "delivered": {
                                                                        "type": "integer"
                                                                    },
                                                                    "pending": {
                                                                        "type": "integer"
                                                                    },
                                                                    "dead": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "delivered",
                                                                    "pending",
                                                                    "dead"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "tenant_id",
                                                            "url",
                                                            "events",
                                                            "disabled_at",
                                                            "consecutive_failures",
                                                            "entregas_7d"
                                                        ]
                                                    }
                                                },
                                                "approvals": {
                                                    "type": "object",
                                                    "properties": {
                                                        "abiertas": {
                                                            "type": "integer"
                                                        },
                                                        "por_tenant": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "tenant_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "abiertas": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "tenant_id",
                                                                    "abiertas"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "abiertas",
                                                        "por_tenant"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "clients",
                                                "webhooks",
                                                "approvals"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/facturacion": {
            "get": {
                "operationId": "desarrollador.facturacion",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nDesde la 1.14.0 publica tambi\u00e9n `metodo_de_pago` \u2014la tarjeta guardada en\nel Stripe de Pimia (13.30a), o `null`\u2014 y `canal_puede_cobrar`: si Pimia\npuede cobrarle un asiento (canal vivo o tarjeta), que es lo que \u00abPasar a\nproducci\u00f3n\u00bb y cada alta en producci\u00f3n exigen.\n\n`anadidos.moneda` (1.19.0) es el c\u00f3digo ISO con el que est\u00e1n escritos\n`anadidos.total_cents` y `anadidos.total`, y sale de las activaciones\nVIVAS: un m\u00f3dulo lleva la suya en `module_prices` (#894), as\u00ed que no es\nla del cat\u00e1logo del integrador, ni la de sus asientos, ni siquiera una\nconstante de Pimia. Sin ella el panel la deduc\u00eda de la cadena ya escrita.\n\n\u26d4 Con activaciones en monedas DISTINTAS, `moneda` va a `null` y\n`anadidos.monedas_mezcladas` a `true`: `total_cents` es entonces una suma\nde peras y manzanas y no se debe ense\u00f1ar como un importe. `null` ah\u00ed no\nes \u00abno consta\u00bb \u2014 la bandera lo acompa\u00f1a siempre y dice por qu\u00e9.\n\n\u26a0\ufe0f El cuerpo va declarado entero en el `@response`, as\u00ed que un campo\nnuevo de `resumenDeCartera()` que no se a\u00f1ada AQU\u00cd no llega al contrato\npor mucho que el servicio lo devuelva y lo tipe.",
                "summary": "GET /api/desarrollador/facturacion \u2014 su suscripci\u00f3n de canal",
                "tags": [
                    "Desarrollador"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "canal": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "estado": {
                                                            "type": "string"
                                                        },
                                                        "asientos": {
                                                            "type": "integer"
                                                        },
                                                        "quantity": {
                                                            "type": "integer"
                                                        },
                                                        "descuadre": {
                                                            "type": "boolean"
                                                        },
                                                        "termina_en": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "estado",
                                                        "asientos",
                                                        "quantity",
                                                        "descuadre",
                                                        "termina_en"
                                                    ]
                                                },
                                                "metodo_de_pago": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "tipo": {
                                                            "type": "string"
                                                        },
                                                        "ultimos4": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "tipo",
                                                        "ultimos4"
                                                    ]
                                                },
                                                "canal_puede_cobrar": {
                                                    "type": "boolean"
                                                },
                                                "asientos": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "tenant_id": {
                                                                "type": "string"
                                                            },
                                                            "rol": {
                                                                "type": "string"
                                                            },
                                                            "precio_cents": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "moneda": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "en_mora": {
                                                                "type": "boolean"
                                                            },
                                                            "gracia_hasta": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "suspendido_desde": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "tenant_id",
                                                            "rol",
                                                            "precio_cents",
                                                            "moneda",
                                                            "en_mora",
                                                            "gracia_hasta",
                                                            "suspendido_desde"
                                                        ]
                                                    }
                                                },
                                                "en_mora": {
                                                    "type": "integer"
                                                },
                                                "anadidos": {
                                                    "type": "object",
                                                    "properties": {
                                                        "activaciones": {
                                                            "type": "integer"
                                                        },
                                                        "total_cents": {
                                                            "type": "integer"
                                                        },
                                                        "total": {
                                                            "type": "string"
                                                        },
                                                        "moneda": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "monedas_mezcladas": {
                                                            "type": "boolean"
                                                        },
                                                        "asientos": {
                                                            "type": "integer"
                                                        },
                                                        "asientos_cents": {
                                                            "type": "integer"
                                                        },
                                                        "asientos_total": {
                                                            "type": "string"
                                                        },
                                                        "asientos_sin_precio": {
                                                            "type": "integer"
                                                        },
                                                        "por_tenant": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "tenant_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "activaciones": {
                                                                        "type": "integer"
                                                                    },
                                                                    "total_cents": {
                                                                        "type": "integer"
                                                                    },
                                                                    "base_cents": {
                                                                        "type": [
                                                                            "integer",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "tenant_id",
                                                                    "activaciones",
                                                                    "total_cents",
                                                                    "base_cents"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "activaciones",
                                                        "total_cents",
                                                        "total",
                                                        "moneda",
                                                        "monedas_mezcladas",
                                                        "asientos",
                                                        "asientos_cents",
                                                        "asientos_total",
                                                        "asientos_sin_precio",
                                                        "por_tenant"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "canal",
                                                "metodo_de_pago",
                                                "canal_puede_cobrar",
                                                "asientos",
                                                "en_mora",
                                                "anadidos"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/facturacion/metodo-de-pago": {
            "post": {
                "operationId": "desarrollador.iniciarMetodoDePago",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nAbre un Checkout de Stripe en modo setup: no cobra nada, deja la tarjeta\ncomo m\u00e9todo de pago por defecto del cliente de Stripe del integrador. Con\nella \u00abPasar a producci\u00f3n\u00bb ya no pide asumir a nadie, y el primer asiento\ncrea la suscripci\u00f3n de canal sin pantalla. `return_url` es la del panel\n(mismo origen exacto que `CENTRAL_WEB_URL`, como el portal); Stripe\nvuelve a ella con `metodo=ok&sesion=\u2026` o `metodo=cancelado`.",
                "summary": "POST /api/desarrollador/facturacion/metodo-de-pago \u2014 guardar la tarjeta\ndel canal ANTES del primer cliente (13.30a; 1.14.0)",
                "tags": [
                    "Desarrollador"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "return_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 2000
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "checkout_url": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "checkout_url"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/facturacion/metodo-de-pago/confirmar": {
            "post": {
                "operationId": "desarrollador.confirmarMetodoDePago",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "summary": "POST /api/desarrollador/facturacion/metodo-de-pago/confirmar \u2014 la vuelta\ndel Checkout de setup: la sesi\u00f3n (`sesion`) se comprueba con Stripe y su\ntarjeta pasa a ser la del canal. El webhook hace lo mismo si la pesta\u00f1a\nse cerr\u00f3; confirmar dos veces no rompe nada",
                "tags": [
                    "Desarrollador"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sesion": {
                                        "type": "string",
                                        "maxLength": 255
                                    }
                                },
                                "required": [
                                    "sesion"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "metodo_de_pago": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "tipo": {
                                                            "type": "string"
                                                        },
                                                        "ultimos4": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "tipo",
                                                        "ultimos4"
                                                    ]
                                                },
                                                "canal_puede_cobrar": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "metodo_de_pago",
                                                "canal_puede_cobrar"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links": {
            "get": {
                "operationId": "desarrolladorLink.index",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "tags": [
                    "DesarrolladorLink"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "link_code": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "tenant": {
                                                        "type": [
                                                            "object",
                                                            "null"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "status"
                                                        ]
                                                    },
                                                    "requester": {
                                                        "type": [
                                                            "object",
                                                            "null"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "email": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "email"
                                                        ]
                                                    },
                                                    "requested_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    },
                                                    "accepted_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    },
                                                    "revoked_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    },
                                                    "created_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "link_code",
                                                    "status",
                                                    "tenant",
                                                    "requester",
                                                    "requested_at",
                                                    "accepted_at",
                                                    "revoked_at",
                                                    "created_at"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links/generate-code": {
            "post": {
                "operationId": "desarrolladorLink.generateCode",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "tags": [
                    "DesarrolladorLink"
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "C\u00f3digo de vinculaci\u00f3n generado."
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "link_code": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tenant": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "status"
                                                    ]
                                                },
                                                "requester": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "email"
                                                    ]
                                                },
                                                "requested_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "accepted_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "revoked_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "link_code",
                                                "status",
                                                "tenant",
                                                "requester",
                                                "requested_at",
                                                "accepted_at",
                                                "revoked_at",
                                                "created_at"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links/{id}/accept": {
            "post": {
                "operationId": "desarrolladorLink.accept",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nAqu\u00ed est\u00e1 LA diferencia con la gestor\u00eda: no se crea ning\u00fan usuario dentro\ndel tenant ni se toca `tenant_users`. El v\u00ednculo solo pasa a `active`.",
                "summary": "Aceptar la solicitud de una instancia",
                "tags": [
                    "DesarrolladorLink"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Vinculaci\u00f3n aceptada."
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "link_code": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tenant": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "status"
                                                    ]
                                                },
                                                "requester": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "email"
                                                    ]
                                                },
                                                "requested_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "accepted_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "revoked_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "link_code",
                                                "status",
                                                "tenant",
                                                "requester",
                                                "requested_at",
                                                "accepted_at",
                                                "revoked_at",
                                                "created_at"
[...]
