{
    "openapi": "3.1.0",
    "info": {
        "title": "Pimia \u2014 plano central, contrato del integrador",
        "version": "1.1.0",
        "description": "Contrato del plano central de Pimia para el integrador: su cartera de clientes y la atribuci\u00f3n de cada alta, los v\u00ednculos con cada instancia, sus clients OAuth, las invitaciones, el patrocinio (asumir la licencia de un cliente), el traspaso de propiedad y su cat\u00e1logo (qu\u00e9 revende a sus clientes, a qu\u00e9 precio minorista y con qu\u00e9 enlace de contrataci\u00f3n). Autenticaci\u00f3n: token personal de Sanctum acotado por plano (`central`, `desarrollador`), el mismo que usa el dashboard del integrador. No lleva contenido fiscal de ning\u00fan cliente: a los datos de una instancia se llega por OAuth consentido, con el contrato de /api/v1."
    },
    "servers": [
        {
            "url": "https://taskai.work/api",
            "description": "Plano central (dev)"
        },
        {
            "url": "https://pimia.es/api",
            "description": "Plano central (prod)"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/billing/sponsorship": {
            "post": {
                "operationId": "billing.sponsor",
                "description": "**Exige la habilidad `central`** en el token, y que la cuenta sea de desarrollador.\n\nMismo mecanismo para las dos figuras intermediarias (gestor\u00eda y\ndesarrollador): una suscripci\u00f3n de canal con `quantity` = asientos y una\nfactura consolidada, en vez de N suscripciones sueltas.",
                "summary": "POST /api/billing/sponsorship \u2014 asumir la licencia de un cliente",
                "tags": [
                    "Billing"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "tenant_slug": {
                                        "type": "string"
                                    },
                                    "plan_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "tenant_slug",
                                    "plan_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Completa el alta de tu suscripci\u00f3n de canal para activar el patrocinio.",
                                                        "Asumida la licencia de la instancia."
                                                    ]
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "checkout_url": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "checkout_url"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "central",
                "x-pimia-partner-availability": "developer-account"
            },
            "delete": {
                "operationId": "billing.releaseSponsorship",
                "description": "**Exige la habilidad `central`** en el token, y que la cuenta sea de desarrollador.",
                "summary": "DELETE /api/billing/sponsorship \u2014 soltar un cliente patrocinado",
                "tags": [
                    "Billing"
                ],
                "parameters": [
                    {
                        "name": "tenant_slug",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "Has dejado de pagar la licencia de esta instancia."
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "central",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/overview": {
            "get": {
                "operationId": "desarrollador.overview",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "summary": "GET /api/desarrollador/overview \u2014 cartera y cuota",
                "tags": [
                    "Desarrollador"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "cartera": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "resumen": {
                                                    "type": "object",
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "activos": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "suspendidos": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        }
                                                    },
                                                    "required": [
                                                        "total",
                                                        "activos",
                                                        "suspendidos"
                                                    ]
                                                },
                                                "cuota": {
                                                    "type": "object",
                                                    "properties": {
                                                        "usada": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "limite": {
                                                            "type": "integer"
                                                        },
                                                        "ilimitada": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "usada",
                                                        "limite",
                                                        "ilimitada"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "cartera",
                                                "resumen",
                                                "cuota"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/salud": {
            "get": {
                "operationId": "desarrollador.salud",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nLo que un desarrollador necesita y un asesor no: si sus clients siguen\nus\u00e1ndose, si sus webhooks llegan y si tiene propuestas esperando decisi\u00f3n\ndel cliente. Todo son METADATOS de la integraci\u00f3n \u2014 \u00faltimo uso, c\u00f3digos\nde estado, contadores. Nunca el contenido de lo que viaja.",
                "summary": "GET /api/desarrollador/salud \u2014 estado t\u00e9cnico de sus integraciones",
                "tags": [
                    "Desarrollador"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "clients": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "client_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "revoked_at": {
                                                                "type": "string"
                                                            },
                                                            "tokens_vivos": {
                                                                "type": "integer"
                                                            },
                                                            "ultimo_uso": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "client_id",
                                                            "name",
                                                            "revoked_at",
                                                            "tokens_vivos",
                                                            "ultimo_uso"
                                                        ]
                                                    }
                                                },
                                                "webhooks": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "tenant_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "description": "La URL es del desarrollador, no del cliente: puede verla."
                                                            },
                                                            "events": {
                                                                "type": "array",
                                                                "items": {}
                                                            },
                                                            "disabled_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "format": "date-time"
                                                            },
                                                            "consecutive_failures": {
                                                                "type": "integer"
                                                            },
                                                            "entregas_7d": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "delivered": {
                                                                        "type": "integer"
                                                                    },
                                                                    "pending": {
                                                                        "type": "integer"
                                                                    },
                                                                    "dead": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "delivered",
                                                                    "pending",
                                                                    "dead"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "tenant_id",
                                                            "url",
                                                            "events",
                                                            "disabled_at",
                                                            "consecutive_failures",
                                                            "entregas_7d"
                                                        ]
                                                    }
                                                },
                                                "approvals": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "abiertas": {
                                                                    "type": "integer"
                                                                },
                                                                "por_tenant": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "tenant_id": {
                                                                                "type": "string"
                                                                            },
                                                                            "abiertas": {
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "tenant_id",
                                                                            "abiertas"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "abiertas",
                                                                "por_tenant"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "abiertas": {
                                                                    "type": "integer"
                                                                },
                                                                "por_tenant": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "minItems": 0,
                                                                    "maxItems": 0,
                                                                    "additionalItems": false
                                                                }
                                                            },
                                                            "required": [
                                                                "abiertas",
                                                                "por_tenant"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "clients",
                                                "webhooks",
                                                "approvals"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/facturacion": {
            "get": {
                "operationId": "desarrollador.facturacion",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "summary": "GET /api/desarrollador/facturacion \u2014 su suscripci\u00f3n de canal",
                "tags": [
                    "Desarrollador"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "canal": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "estado": {
                                                            "type": "string"
                                                        },
                                                        "asientos": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "quantity": {
                                                            "type": "integer"
                                                        },
                                                        "descuadre": {
                                                            "type": "boolean",
                                                            "description": "Si divergen, manda el n\u00famero de asientos: es lo servido."
                                                        },
                                                        "termina_en": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "estado",
                                                        "asientos",
                                                        "quantity",
                                                        "descuadre",
                                                        "termina_en"
                                                    ]
                                                },
                                                "asientos": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "tenant_id": {
                                                                "type": "string"
                                                            },
                                                            "rol": {
                                                                "type": "string"
                                                            },
                                                            "en_mora": {
                                                                "type": "boolean"
                                                            },
                                                            "gracia_hasta": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "format": "date-time"
                                                            },
                                                            "suspendido_desde": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "format": "date-time"
                                                            }
                                                        },
                                                        "required": [
                                                            "tenant_id",
                                                            "rol",
                                                            "en_mora",
                                                            "gracia_hasta",
                                                            "suspendido_desde"
                                                        ]
                                                    }
                                                },
                                                "en_mora": {
                                                    "type": "integer",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "canal",
                                                "asientos",
                                                "en_mora"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links": {
            "get": {
                "operationId": "desarrolladorLink.index",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "tags": [
                    "DesarrolladorLink"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "link_code": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "tenant": {
                                                        "type": [
                                                            "object",
                                                            "null"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "status"
                                                        ]
                                                    },
                                                    "requester": {
                                                        "type": [
                                                            "object",
                                                            "null"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "email": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "email"
                                                        ]
                                                    },
                                                    "requested_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    },
                                                    "accepted_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    },
                                                    "revoked_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    },
                                                    "created_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "date-time"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "link_code",
                                                    "status",
                                                    "tenant",
                                                    "requester",
                                                    "requested_at",
                                                    "accepted_at",
                                                    "revoked_at",
                                                    "created_at"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links/generate-code": {
            "post": {
                "operationId": "desarrolladorLink.generateCode",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "tags": [
                    "DesarrolladorLink"
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "C\u00f3digo de vinculaci\u00f3n generado."
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "link_code": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tenant": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "status"
                                                    ]
                                                },
                                                "requester": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "email"
                                                    ]
                                                },
                                                "requested_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "accepted_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "revoked_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "link_code",
                                                "status",
                                                "tenant",
                                                "requester",
                                                "requested_at",
                                                "accepted_at",
                                                "revoked_at",
                                                "created_at"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links/{id}/accept": {
            "post": {
                "operationId": "desarrolladorLink.accept",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nAqu\u00ed est\u00e1 LA diferencia con la gestor\u00eda: no se crea ning\u00fan usuario dentro\ndel tenant ni se toca `tenant_users`. El v\u00ednculo solo pasa a `active`.",
                "summary": "Aceptar la solicitud de una instancia",
                "tags": [
                    "DesarrolladorLink"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Vinculaci\u00f3n aceptada."
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "link_code": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tenant": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "status"
                                                    ]
                                                },
                                                "requester": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "email"
                                                    ]
                                                },
                                                "requested_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "accepted_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "revoked_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "date-time"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "link_code",
                                                "status",
                                                "tenant",
                                                "requester",
                                                "requested_at",
                                                "accepted_at",
                                                "revoked_at",
                                                "created_at"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error\n\nAn error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "description": "Error overview.",
                                                    "examples": [
                                                        "La solicitud no est\u00e1 pendiente."
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "description": "Error overview.",
                                                    "examples": [
                                                        "La solicitud no tiene instancia asociada."
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/links/{id}/reject": {
            "post": {
                "operationId": "desarrolladorLink.reject",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "tags": [
                    "DesarrolladorLink"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Solicitud rechazada."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "examples": [
                                                "La solicitud no est\u00e1 pendiente."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/clients": {
            "get": {
                "operationId": "desarrolladorLink.clients",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.",
                "summary": "GET \u2014 los clients OAuth de este desarrollador",
                "tags": [
                    "DesarrolladorLink"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "client_id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "confidential": {
                                                        "type": "boolean"
                                                    },
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "registration_tenant_id": {
                                                        "type": "string"
                                                    },
                                                    "revoked_at": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "client_id",
                                                    "name",
                                                    "confidential",
                                                    "scope",
                                                    "registration_tenant_id",
                                                    "revoked_at",
                                                    "created_at"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/clients/claim": {
            "post": {
                "operationId": "desarrolladorLink.claimClient",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nRequiere demostrar posesi\u00f3n del client, no solo conocer su id: el\nclient_id viaja en cada pantalla de consentimiento y en la URL de\nautorizaci\u00f3n, as\u00ed que es p\u00fablico de facto. Para un client confidencial se\nexige el secret; para uno p\u00fablico (PKCE, sin secret) solo puede\nreclamarlo quien lo registr\u00f3 desde un tenant vinculado a esta cuenta.",
                "summary": "POST \u2014 \u00abeste client es m\u00edo\u00bb",
                "tags": [
                    "DesarrolladorLink"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "client_id": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "client_secret": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    }
                                },
                                "required": [
                                    "client_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "const": "ownership_not_provable"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "Este client es p\u00fablico (sin secret). Solo puedes reclamarlo si se registr\u00f3 desde una instancia vinculada a tu cuenta."
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "const": "invalid_client_secret"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "El client_secret no coincide. Solo quien lo tiene puede reclamar el client."
                                                }
                                            },
                                            "required": [
                                                "error",
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "already_owned"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Ese client ya pertenece a otra cuenta."
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            }
        },
        "/desarrollador/catalogo": {
            "get": {
                "operationId": "integradorCatalogo.show",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\n`perfil` y `currency` van a `null` mientras el integrador no haya\nguardado nada; `disponibles` dice qu\u00e9 puede entrar en `items` (es la\nlista contra la que valida el `PUT`).",
                "summary": "GET /api/desarrollador/catalogo \u2014 el cat\u00e1logo propio y lo que se puede revender",
                "tags": [
                    "IntegradorCatalogo"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "perfil": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "nombre_comercial": {
                                                            "type": "string"
                                                        },
                                                        "soporte_url": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "soporte_email": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "nombre_comercial",
                                                        "soporte_url",
                                                        "soporte_email"
                                                    ]
                                                },
                                                "currency": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "contract_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "kind": {
                                                                "type": "string"
                                                            },
                                                            "slug": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "price_cents": {
                                                                "type": "integer"
                                                            },
                                                            "price": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "contract_url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "enabled": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "kind",
                                                            "slug",
                                                            "name",
                                                            "description",
                                                            "price_cents",
                                                            "price",
                                                            "contract_url",
                                                            "enabled"
                                                        ]
                                                    }
                                                },
                                                "disponibles": {
                                                    "type": "object",
                                                    "properties": {
                                                        "base": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "slug": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "slug",
                                                                    "name",
                                                                    "description"
                                                                ]
                                                            }
                                                        },
                                                        "modules": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "slug": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "slug",
                                                                    "name",
                                                                    "description"
                                                                ]
                                                            }
                                                        },
                                                        "apps": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "slug": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "slug",
                                                                    "name",
                                                                    "description"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "base",
                                                        "modules",
                                                        "apps"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "perfil",
                                                "currency",
                                                "contract_url",
                                                "items",
                                                "disponibles"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                },
                "x-pimia-required-ability": "desarrollador",
                "x-pimia-partner-availability": "developer-account"
            },
            "put": {
                "operationId": "integradorCatalogo.update",
                "description": "**Exige la habilidad `desarrollador`** en el token, y que la cuenta sea de desarrollador.\n\nCabecera (nombre comercial, soporte, moneda ISO 4217 y enlace de\ncontrataci\u00f3n por defecto) y filas (`kind` \u2208 `base|module|app`, `slug`,\n`price_cents` en subunidades de esa moneda \u2014siempre una cifra\u2014,\n`contract_url` propio opcional, `enabled`). Una fila que no venga deja de\nexistir. Un slug que no sea revendible responde 422.",
                "summary": "PUT /api/desarrollador/catalogo \u2014 reemplaza el cat\u00e1logo entero",
                "tags": [
                    "IntegradorCatalogo"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegradorCatalogoRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "perfil": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "nombre_comercial": {
                                                            "type": "string"
                                                        },
                                                        "soporte_url": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "soporte_email": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "nombre_comercial",
                                                        "soporte_url",
                                                        "soporte_email"
                                                    ]
                                                },
                                                "currency": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "contract_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "kind": {
                                                                "type": "string"
                                                            },
                                                            "slug": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "price_cents": {
                                                                "type": "integer"
                                                            },
                                                            "price": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "contract_url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "enabled": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "kind",
                                                            "slug",
                                                            "name",
                                                            "description",
                                                            "price_cents",
                                                            "price",
                                                            "contract_url",
                                                            "enabled"
                                                        ]
                                                    }
                                                },
                                                "disponibles": {
                                                    "type": "object",
                                                    "properties": {
                                                        "base": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "slug": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "slug",
                                                                    "name",
                                                                    "description"
                                                                ]
                                                            }
                                                        },
                                                        "modules": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "slug": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "slug",
                                                                    "name",
                                                                    "description"
                                                                ]
                                                            }
                                                        },
                                                        "apps": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "slug": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
[...]
